# Utilitites
numpy
pandas

# Face Recognition
scikit-learn
dlib-bin

git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0

supabase
bcrypt

segno
pillow #image preprocessing ->open/resize/crop/process

streamlit

# For voice
librosa  #for manipulation/loading,add noise handling
resemblyzer #for voice similarity/speaker embeddings